@import url("scss/chartist.scss");

@import url("scss/settings/_chartist-settings.scss");


.test-screen {
	background-color: #000000;
	position: relative;
	width: 60vw;
	height: 40vw;
}

html, body {
	background-color: #000000;
	color: #EEE6AB;
}

/* tab box ---------------------------------------------------------------------------------------------------------*/
@import
	url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	padding: 100px 0;
	font-weight: 400;
	text-align: center;
}

p {
	margin: 0 0 20px;
	line-height: 1.5;
}

.main {
	margin: 0 auto;
	min-width: 320px;
	max-width: 800px;
}

.content {
	background-color: #000000;
	color: #EEE6AB;
}

.content>div {
	display: none;
	padding: 20px 25px 5px;
}

input {
	display: none;
}

label {
	display: inline-block;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
}

label:hover {
	color: #fff;
	cursor: pointer;
}

input:checked+label {
	background: #E6AC27;
	color: #fff;
}

#tab1:checked ~ .content #content1, #tab2:checked ~ .content #content2,
	#tab3:checked ~ .content #content3, #tab4:checked ~ .content #content4
	{
	display: block;
}

@media screen and (max-width: 400px) {
	label {
		padding: 15px 10px;
	}
}

/* end tab box ---------------------------------------------------------------------------------------------------------*/
.arrow {
	position: absolute;
	left: 20vw;
	bottom: 15vw;
	height: 10vw;
	width: 20vw;
}

.red-spot {
	position: absolute;
	left: 5vw;
	bottom: 30vw;
	height: 5vw;
	width: 5vw;
}

@
-moz-keyframes blink { 0%{
	opacity: 1;
}

50%{
opacity






:






0;
}
100%{
opacity






:






1;
}
} /* Firefox */
@
-webkit-keyframes blink { 0%{
	opacity: 1;
}

50%{
opacity






:






0;
}
100%{
opacity






:






1;
}
} /* Webkit */
@
-ms-keyframes blink { 0%{
	opacity: 1;
}

50%{
opacity






:






0;
}
100%{
opacity






:






1;
}
} /* IE */
@
keyframes blink { 0%{
	opacity: 1;
}

50%{
opacity






:






0;
}
100%{
opacity






:






1;
}
} /* Opera and prob css3 final iteration */
.red-spot>img {
	height: 4vw;
	width: 4vw;
	border: 1px solid #000;
	-moz-transition: all 10ms ease-in-out;
	-webkit-transition: all 10ms ease-in-out;
	-o-transition: all 10ms ease-in-out;
	-ms-transition: all 10ms ease-in-out;
	transition: all 10ms ease-in-out;
	/* order: name, direction, duration, iteration-count, timing-function */
	-moz-animation: blink normal 10ms infinite ease-in-out; /* Firefox */
	-webkit-animation: blink normal 10ms infinite ease-in-out; /* Webkit */
	-ms-animation: blink normal 10ms infinite ease-in-out; /* IE */
	animation: blink normal 10ms infinite ease-in-out;
	/* Opera and prob css3 final iteration */
}
​