@import url("scss/chartist.scss");

@import url("scss/settings/_chartist-settings.scss");

.test-screen {
	background-color: #000000;
	position: relative;
	width: 60vw;
	height: 40vw;
}

html, body {
	background-color: #000000;
	color: #EEE6AB;
}

.page-heading h1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	width: 75%;
	padding-top: 8px;
}

.page-content {
	margin-top: 20px;
}


.arrow {
	position: absolute;
	left: 20vw;
	bottom: 15vw;
	height: 10vw;
	width: 20vw;
}

.red-spot {
	position: absolute;
	left: 5vw;
	bottom: 30vw;
	height: 5vw;
	width: 5vw;
}
.red-spot>img {
	height: 5vw;
	width: 5vw;
}
